.idea/*
__pycache__/
env/
2022/01/solutions_by_author/
2022/02/solutions_by_author/
2022/01/__pycache__/
2022/01/.ipynb_checkpoints/
2022/02/__pycache__/
2022/02/.ipynb_checkpoints/
2022/03/__pycache__/
2022/03/.ipynb_checkpoints/
*.pyc

2022/04/2020_solutions/
2022/04/modules_and_packages_internals/.ipynb_checkpoints/
2022/05/.ipynb_checkpoints/
2022/06/.ipynb_checkpoints/

2022/06/iris.csv

student_list.txt
